body{
	padding: 10px 20px;
	font-size: 11pt;
	font-family: "Century Gothic",arial;	
	color: #777;
	font-weight: 300;
}
a {
	color: #39C;
	font-weight: 400;
}
.demoPanel{ 
	float:left;
	border: 2px solid #A7C8E2;
	margin: 4px 3px;
	padding: 10px; 
	width:212px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.footer{
	text-align: center;
	font-size:smaller;
	color:Gray;
}

	.demoPanel #Überschrift1 {
	font-size: large;
	font-weight: bold;
	/* [disabled]padding-bottom: 5px; */
}
.demoPanel #Frage {
	margin-top: 5px;
	margin-bottom: 5px;
}

    .demoPanel #Überschrift2 {
	font-size: medium;
	font-weight: normal;
	/* [disabled]padding-bottom: 5px; */
	/* [disabled]padding-top: 5px; */
}
.demoPanel #footer_Auswertung {
	margin-top: 20px;
}
.demoPanel #content_weihnachtsmarkt  {
	margin-top: 20px;

}
.demoPanel #footer_Auswertung input[name="Button_Auswertung"] {
	visibility: hidden;
}

.demoPanel #content_weihnachtsmarkt table img   {
	width: 150px;
	margin: 5px;
}
.demoPanel #content_weihnachtsmarkt table {
	width: 100%;
}
.demoPanel #content_weihnachtsmarkt table td {
	border-bottom-width: medium;
}
.demoPanel #content_weihnachtsmarkt table tr th[scope="row"] {
	border-bottom-width: medium;
	border-left-width: medium;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #666;
}


.demoPanel #content_weihnachtsmarkt table tr .Name_Platz {
	padding: 5px;
}
